PACE/Web References/WebReference/ForgotPasswordReqBO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://BService_UserAuthentication_v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ForgotPasswordReqBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="userId" type="xsd:string" />
      <xsd:element minOccurs="0" name="emailId" type="xsd:string" />
      <xsd:element minOccurs="0" name="mobile" type="xsd:string" />
      <xsd:element minOccurs="0" name="dob" type="xsd:string" />
      <xsd:element minOccurs="0" name="question1" type="xsd:string" />
      <xsd:element minOccurs="0" name="question2" type="xsd:string" />
      <xsd:element minOccurs="0" name="question3" type="xsd:string" />
      <xsd:element minOccurs="0" name="lastPassword" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>